*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
img{max-width: 100%;}
a{color: #333;}
a:hover{
  text-decoration: none;
}
a:active,a:visited,a:focus{
  text-decoration: none;
}
body{
  font-size: 14px;
  color: #333;
  /* line-height: 22px; */
  min-width: 1200px;
  overflow-x: scroll;
}
.dn{display: block;}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.mb30{margin-bottom: 30px !important;}
.mb60{margin-bottom: 60px !important;}
.mt30{margin-top: 30px !important;}
.mt10{margin-top: 10px !important;}
.font-bold,
h4.font-bold{font-weight: bold;}
.color-black{color: #000;}
.d-head {
  position: fixed;
  height: 62px;
  line-height: 62px;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  min-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0px 7px 2px #aeadad;
  border-bottom: 1px solid #e9e9e9;
  z-index: 999;
}
.d-head+*{margin-top: 62px;}

.d-head>a>img{height: 38px;}

.d-head-nav {
  display: inline-block;
  width: 8.333%;
  text-align: center;
  font-size: 15px;
  color: #333;
  white-space: nowrap;
}

.d-head-nav:hover>a,
.head-nav-tab>li:hover>a{
  color: #0452d9;
}


.d-head-nav>a{
  display: block;
}

.head-nav-tab{
  position: absolute;
  display: none;
  width: 150px;
  font-size: 12px;
  line-height: 34px;
  padding: 0;
  background: #f9f9f9;
}
.d-head-nav:hover .head-nav-tab{
  display: block;
}

.head-nav-tab>li:hover {
  color:#493618; 
  background:#dedede;
}

.head-nav-tab>li>a{display: block;}
.wrap{
  width:1200px;
  margin: 0 auto;
}
.carousel-indicators li {
  background-color: #606060;
}

.carousel-indicators .active,
.sbhq-index-case .carousel-indicators .active{
  background-color: #0285da;
}


.flex-box {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.flex-item{
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex:1;
}
.mt80{margin-top:80px !important;}
.sb-global-product {
  margin: 80px auto;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.sb-global-product>li{
  position: relative;
  width: 25%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sb-global-product>li>img{
  width: 100%;
  transition: transform .6s;
  -webkit-transition: transform .6s;
  -moz-transition: transform .6s;
}

.sb-global-product>li>div{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 225px;
  color: #FFF;
  font-size: 14px;
  text-align: left;
  line-height: 150%;
  padding: 25px;
  background: rgba(0,0,0,0.4);
  transform: translateY(0);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transition: transform .6s;
  -webkit-transition: transform .6s;
}

.sb-global-product>li:hover div{
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.sb-global-product>li:hover img {
  transform: scale(1.5);
}

.sbhq-desc-div{
  margin: 0 2%;
}

.sbhq-desc-div>div:first-of-type{
  width: 499px;
}

.sbhq-word-desc{
  margin-left: 2%;
}
.sbhq-word-desc>h2 {
  font-size: 18px;
  height: 50px;
  line-height: 1.2;
  text-align: center;
}
.sbhq-word-desc>div{
  font-size: 14px;
  line-height: 26px;
}

.sbhq-desc-area{
  background: #ebebeb;
  /* overflow: hidden; */
  padding-top: 80px;
  padding-bottom: 80px;
}

.sbhq-more-div{
  margin:45px 2% 0;
  text-align: center;
}

.sbhq-more-div>a{
  display: inline-block;
  font-size: 14px;
  padding: 9px 29px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.sbhq-more-div>a:hover{
  border:1px solid #666; 
  color:#FFF;
  background:#666
}

.sbhq-cooperation-area {
  background-color: #f6f6f6;
  padding: 0 2%;
}
.sbhq-index-title {
  font-size: 22px;
  color: #0452d9;
  font-weight: 800;
  text-align: center;
  line-height: 45px;
  margin: 0;
}

.sbhq-index-title>span{border-bottom: 2px solid #0452d9;}

.sbhq-cooperation-div{
  margin-top: 40px;
  background-color: #fff;
}

.sbhq-cooperation-div .flex-box{
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sbhq-cooperation-div .flex-box li{
  width: 25%;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.sbhq-cooperation-div .flex-box li:hover{opacity: .6;}

.sbhq-cooperation-div .flex-box li:nth-of-type(4) ,
.sbhq-cooperation-div .flex-box li:nth-of-type(8){
  border-right: none;
}

.sbhq-cooperation-div .flex-box img{width: 100%;}
.sbhq-cooperation-area {
  padding: 50px 0;
}

.sbhq-index-case{
  margin: 20px auto 50px;
}

.sbhq-index-case .carousel-inner>.item>img{
  display: inline-block;
  width: 48%;
}

.sbhq-index-case .carousel-inner>.item>img:nth-of-type(1) {
  padding-right: 2%;
}
.sbhq-index-case .carousel-inner>.item>img:nth-of-type(2){
  padding-left: 2%;
}

.sbhq-index-case .carousel{margin-top: 50px;}

.sbhq-index-case .carousel-indicators{
  bottom: -40px;
}
.sbhq-index-case .carousel-indicators li{
  width: 50px;
  height: 6px;
  border-radius: 6px;
  background-color: #ccc;
}

.sbhq-index-case .carousel-indicators .active{
  background-color: #0285da;
}


.sbhq-foot{
  color: #fff;
  padding: 30px 1%;
  background-color: #333;
}

.sbhq-foot a{color: #dadbe0;}
.sbhq-foot-nav{
  display: inline-block;
  width: 10%;
  text-align: center;
  padding-bottom: 35px;
  vertical-align: top;
}

.sbhq-foot-nav>li{
  line-height: 24px;
}

.sbhq-foot-nav>li:first-of-type {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
}

.sbhq-foot-nav+ .sbhq-foot-nav{
  margin-left: 14px;
}

.sbhq-copyright-area{
  margin: 0 auto;
    border-top: 1px dashed #494949;
    padding: 13px 0;
}

.sbhq-crumb-div{
  position: relative;
  padding: 0 2%;
  margin: 50px auto;
  /* background: url('../images/crumbs1.jpg')  repeat-x 0 61px; */
}

.sbhq-tab-nav{
  margin-bottom: 0;
}

.sbhq-tab-nav>li{
  display: inline-block;
  font-size: 14px;
  padding: 24px 2.5%;
  background-image: url('../images/crumbs2.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.sbhq-tab-nav>li>a{border: 10px solid transparent;}

.color-gray8{
  color: #888;
}

.crumb{margin-top: 20px;}

.crumb>a:focus,
.crumb>a:visited{
  color: #888;
}
.crumb>a:hover,
.crumb span{
  color: #003d8d;
}

.company-desc-div{
  padding: 0 4%;
}
/* 
.row{margin: 0;} */

.sbhq-wrap-nav li {
  display: inline-block;
  color: #333;
  font-size: 14px;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  margin: 0 16px;
  cursor: pointer;
}

.sbhq-wrap-nav li:hover {
  color: #059fe9;
  border: 1px solid #059fe9;
}

.sbhq-wrap-nav .wrap-nav-active {
  color: #fff;
  border: 1px solid #059fe9;
  background-color: rgb(0, 128, 255);
}

.sbhq-wrap-nav .wrap-nav-active:hover {
  color: #fff;
}